#menuItems{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: black;
    float: left;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuItems button{
    background-color: blue;
    color: white;
    font-size: 20px;
    height: 35px;
    width: 100%;
}

#menuItems button:hover{
    background-color: goldenrod;
}

#jumpMenu{
    display: none;
    background-color: goldenrod;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    list-style-type: none;
    row-gap: 1px;
}

#jumpMenu li{
    width: 100%;
}

#jumpMenu li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    padding-block: 0px;
}

#recentArticles:hover + #jumpMenu, #jumpMenu:hover{
    display: flex;
}

#jumpMenu li a:hover{
    background-color: blue;
    color: black;
}

header{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    height: 70px;
    padding-left: 15%;
    padding-block: 10px;
}

header p{
    text-align: center;
    font-size: 30px;
    margin-block: 15px;
}

h1{
    text-align: center;
    padding-top: 8%;
    padding-left: 15%;
    font-size: 2em;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    height: auto;
    margin-left: 15%;
    padding-inline: 40px;
    row-gap: 10px;
    column-gap: 10px;
    flex: auto;
    color: rgb(168, 168, 168);
    font-family: Arial, Helvetica, sans-serif;
}

#container article{
    padding-bottom: 5%;
    padding-inline: 15px;
    min-height: 500px;
    height: auto;
    width: 200px;
    flex: auto;
    text-align: justify;
    font-size: 0.8em;
    transition-property: color, font-size, width;
    transition-duration: 2s;
}

#container article h2 + p::first-letter{
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
}

#container article a::after{
    content: url('arrow.png');
    display: inline-block;
    margin-left: 5px;
}

#container article:hover{
    color: black;
    font-size: 1em;
    width: 220px;
}

#thanks{
    position: fixed;
    background-color: rgb(245, 180, 191);
    margin-bottom: 0px;
    padding-block: 15px;
    padding-inline: 20px;
    bottom: 0px;
    right: 0px;
    border: 2px solid plum;
    font-size: 20px;
    text-align: center;
}

footer{
    margin-left: 15%;
    padding-inline: 20px;
    margin-bottom: 75px;
}